# --- Python ---
__pycache__/
*.py[oc]
*.pyc
build/
dist/
wheels/
*.egg-info
.pytest_cache
.coverage
htmlcov/
.venv/
env/
venv/
ENV/

# --- Environments ---
.env
.venv
pip-log.txt

# --- Editor / IDE ---
.vscode
.idea/
*.swp
*.swo

# --- System ---
.DS_Store
Thumbs.db

# --- Project Specific ---
legacy/
output/
tree.txt
*.log
